include README.rst
include LICENSE
include requirements.txt
include VERSION
include classifiers.txt
include TODO
include .coveragerc
include Dockerfile
include Dockerfile.legacy
graft skgstat/data/rf
graft skgstat/data/samples